/*CSS for index.html*/
* {
    margin: 0;
    padding: 0;
}

body {
    background: black;
    color: white;
}

canvas {
    display: block;
}

canvas#c {/*for matrix effect*/
    z-index: -1;
    position: fixed;
}

.flex-container {
    display: flex;
    /*allow auto new lines*/
    flex-wrap: wrap;
    /*center horisontally with auto margin*/
    justify-content: space-around; 
    /*center vertically*/
    align-items: center; 
    /*spacind between lines*/
    align-content: space-around;

    width: 100vw;
    height: 100vh;
}

.flex-container>div {
    width: 600px;
    text-align: center;
}

.flex-container>div>iframe {
    width: 50vw;
    height: 50vw;
    max-width: 600px;
    max-height: 70vh;
}

@media screen and (max-width: 1200px) {
    .flex-container>div>iframe {
        width: 90vw;
        height: 90vw;
    }
}

iframe {
    border: none;
}

.bottombar {
    display: none;/*//++*/
    /*display: flex;*/
    font-weight: bold;
    color: white;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

#menu div {
    /*border: 2px dotted white;
    padding-top: 10px;*/
}

#menu a{
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    text-decoration: none;
}

a:link {
  color: inherit;
}

a:visited {
  color: inherit;
}

a:hover {
  color: inherit;
}

a:active {
  color: inherit;
}

/*NAV*/
.sticky {
    position: sticky;
}

.burger {
    float: right;
    margin: 1em;
    position: relative;
    z-index: 2;
}

.burger:hover {
    cursor: pointer;
}

.burger div {
    height: 0.5em;
    width: 2em;
    border-top: 4px solid rgb(178, 178, 178);
}

.burger-menu {
    text-align: center;
    max-width: 90%;
    margin: 0px auto auto auto;
    padding-top: 3em;
}

.burger-menu div {
    font-size: xx-large;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: red -2px 0, cyan 2px 0;
    color: rgb(20, 20, 20);
    margin: 10px;
    padding: 0.5em;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0);
    border-radius: 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.7px);
    -webkit-backdrop-filter: blur(2.7px);
    /*border: 1px solid rgba(241, 241, 241, 0.43);*/
}

.burger-menu div a {
    text-decoration: none;
}

.hidden {
    display: none;
}

.burger-box {
    position: fixed;
    width: 100vw;
    z-index: 20;
}
